<?xml version="1.0"?>
<configuration>
  <system.web>
    <!-- 设置默认编译语言，是否启用调试模式 -->
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0"/>
    <!-- 设置编码，否则签名和非签名UTF8文件混合使用时中文会乱码 -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8"/>
    <!-- 关闭HTTP请求验证 -->
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- framework4.0下,允许请求html代码　　上传文件大小限制　　超时限制 -->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
    <!-- 是否显示详细错误信息，如果Mode=On，则指定错误时转向URI -->
    <customErrors mode="Off"/>
    <!-- URL重写规则指定模块，IIS6 -->
    <httpModules>
      <add name="UrlReWrite" type="SH.UrlReWrite"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <!-- URL重写规则指定模块，IIS7.0+ -->
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewrite" type="SH.UrlReWrite" preCondition="managedHandler"/>
    </modules>
    <!-- 指示不用再检测system.web里相同的配置，IIS7.0+ -->
	<validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>